@import "../../styles/App.scss";

.links {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.link {
    font-size: clamp(1.2rem, 3vw, 2rem);
    font-family: $font-Syne;
    font-weight: 600;
    color: $color-7;
    display: flex;
    transition: color 0.3s ease;


    &.active {
        color: $color-6;

        &:hover {
            color: $color-3;
        }
    }

    &:hover {
        color: $color-5;
    }
}