@import "../../styles/App";

.heading {
    .heading {
        font-size: clamp(6.5vh, 8vw, 30vh);
        font-weight: bold;
        text-transform: uppercase;
        color: $color-8;
        font-family: $font-Rubik;
        margin-bottom: 3rem;
    }
}