@import "../../styles/App.scss";

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    height: 68px;
    background-color: $color-1;
    box-shadow: 0 0 30px $color-1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    transition: background-color 0.3s ease;

    &.active {
        background-color: $color-9;
    }

    @media screen and (max-width: 768px) {
        background-color: $color-4;
        box-shadow: none;
        padding: 0 1rem;
    }

    .linkContact {
        font-family: $font-Fira-Code;
        width: auto;
        font-weight: 500;
        letter-spacing: 0.5px;

        @media screen and (max-width: 768px) {
            margin-right: 5rem;
        }
    }
}