@import "../../styles/App.scss";


.Projet {
    margin: auto;
    width: 100%;
    height: auto;
    background: $color-1;
    color: $color-7;
    padding-top: 3rem;

    .title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 3rem;
        flex-wrap: wrap;


        h1 {
            font-size: clamp(2.2rem, 4vw, 4rem);
            font-weight: 700;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            margin-bottom: 2rem;

            span {
                font-family: $font-Rubik;
                font-weight: bold;
                color: $color-5;
                text-shadow: 0 0 5px $color-5;
            }
        }

        img {
            max-width: 200px;
            width: 100%;
        }

        h2 {
            font-size: clamp(1.5rem, 3vw, 2rem);
            font-family: $font-Shrikhand;
            font-weight: 400;
            color: $color-6;
        }
    }

    hr {
        max-width: 1376px;
        width: 100%;
        height: 2px;
        background: $color-8;
        border: none;
        margin: 1rem auto;

    }

    .container {
        max-width: 1440px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 3rem;
        padding: 2rem;

        @media screen and (max-width: 768px) {
            flex-direction: column;
            align-items: center;
        }

        .image {
            flex: 1;

            .bouton {
                display: flex;
                align-items: center;
                justify-content: flex-start;

                .btn-retour {
                    flex: 0.5;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 1rem;

                    @media screen and (max-width: 768px) {
                        flex: 1;
                    }
                }
            }


            &__content {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
                gap: 2.5rem;
                padding: 2rem 0;

                img {
                    border-radius: 6px;
                    max-width: 18rem;
                }
            }

            .boutons {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                gap: 1rem;
                width: 100%;

                .btn-suivant {
                    flex: 0.1;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 1rem;

                    @media screen and (max-width: 768px) {
                        flex: 1;
                    }

                    &.active {
                        background: $color-3;
                        color: $color-7;
                    }
                }
            }
        }

        .texte {
            flex: 1;

            &__content {
                display: flex;
                flex-direction: column;
                gap: 1rem;

                p {
                    font-size: clamp(0.8rem, 3vw, 1.1rem);
                    font-weight: 300;
                    text-align: justify;
                    line-height: 1.5rem;
                    color: $color-6;
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                }

                h3 {
                    font-size: 1.5rem;
                    font-weight: 700;
                    text-align: center;
                    color: $color-5;
                }

                .objectifs {
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    margin-left: 1rem;
                    list-style-type: circle;


                    li {
                        font-size: clamp(0.8rem, 3vw, 1.1rem);
                        font-weight: 300;
                        text-align: justify;
                        line-height: 1.5rem;
                        color: $color-6;
                    }
                }

                .infos {
                    list-style: none;
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    margin-left: 0;
                    margin-bottom: 1rem;

                    li {

                        p {
                            span {
                                font-weight: 700;
                                color: $color-3;
                                font-size: clamp(1rem, 3vw, 1.3rem);
                            }
                        }
                    }
                }

                .icon {
                    display: flex;
                    align-items: center;

                    span {
                        font-weight: 700;
                        color: $color-3;
                        font-size: clamp(1rem, 3vw, 1.4rem);
                    }
                }

                .technologies {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 1rem;
                    margin: 1rem 0;
                    list-style: none;

                    img {
                        width: 50px;
                    }
                }

                .boutons {

                    display: flex;
                    flex-wrap: wrap;
                    gap: 1rem;
                    width: 100%;

                    .btn-code {
                        flex: 0.5;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 1rem;
                    }

                    .btn-projet {
                        flex: 0.5;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 1rem;
                    }

                }
            }
        }
    }
}