@import "../../styles/App.scss";


.Projet {
    margin: auto;
    width: 100%;
    height: auto;
    background: $color-1;
    color: $color-7;
    padding: 3rem 0;

    .container {
        max-width: 1440px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        gap: 3rem;
        padding: 0 2rem;

        @media screen and (max-width: 768px) {
            flex-direction: column;
            align-items: center;

        }

        .image {
            flex: 1;

            &__content {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
                gap: 2.5rem;

                img {
                    border-radius: 6px;
                }
            }

            .boutons {
                padding: 2rem 0;
                display: flex;
                flex-wrap: wrap;
                gap: 1rem;


                .btn-retour {
                    flex: 1;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 1rem;
                }

                .btn-suivant {
                    flex: 1;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 1rem;
                }
            }
        }

        .texte {
            flex: 1;
            display: flex;

            &__content {
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 1rem;
                padding: 0 2rem;

                h2 {
                    font-size: clamp(1.5rem, 3vw, 3rem);
                    font-weight: 700;
                    text-align: center;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 1rem;
                    margin-bottom: 2rem;

                    img {
                        width: 150px;
                    }
                }

                p {
                    font-size: clamp(0.8rem, 3vw, 1.1rem);
                    font-weight: 300;
                    text-align: justify;
                    line-height: 1.5rem;
                    color: $color-6;
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                }

                h3 {
                    font-size: 1.5rem;
                    font-weight: 700;
                    text-align: center;
                    color: $color-5;
                }

                ul {
                    margin-left: 1rem;
                    list-style-type: circle;

                    li {
                        font-size: clamp(0.8rem, 3vw, 1.1rem);
                        font-weight: 300;
                        text-align: justify;
                        line-height: 1.5rem;
                        color: $color-6;
                    }
                }

                .infos {
                    list-style: none;
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    margin-left: 0;
                    margin-bottom: 1rem;

                    li {

                        p {
                            span {
                                font-weight: 700;
                                color: $color-4;
                                font-size: clamp(1rem, 3vw, 1.3rem);
                            }
                        }
                    }
                }

                .icon {
                    display: flex;
                    align-items: center;
                    margin-top: 1rem;

                    span {
                        font-weight: 700;
                        color: $color-3;
                        font-size: clamp(1rem, 3vw, 1.4rem);
                    }
                }

                .technologies {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 1rem;
                    margin-top: 1rem;
                    list-style: none;

                    img {
                        width: 50px;
                    }
                }

                .boutons {
                    padding: 2rem 0;
                    display: flex;
                    flex-wrap: wrap;
                    gap: 1rem;


                    .btn-code {
                        flex: 1;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 1rem;
                    }

                    .btn-projet {
                        flex: 1;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 1rem;
                    }
                }
            }
        }
    }
}